
@{
    ViewBag.Title = "Department";
    var data = (IEnumerable<EmployeeManagementSystem.ViewModels.DepartmentsViewModel>)ViewData["TeamEmps"];
}

@if (((Session["role"]).ToString()) == "Admin")
{


    <h2 class="DepartHeading">Teams</h2>
    <hr id="addemphr" />

    <div class="dept-btn">

        <div class="dept-btn-sec ">
            <a href="@Url.Action("AddProject" , "Admin")"  tabindex="-1">
                <span class="fa fa-solid fa-file-chart-pie"></span>
                Add Project
            </a>
        </div>
        <div class="dept-btn-sec">
            <a href="@Url.Action("AddProjectMembers" , "Admin")"  tabindex="-1">
                <span class="fa fa-solid fa-user-plus"></span>
                Add Project Members
            </a>
        </div>
    </div>


    <div id="DepatDiv">

        
        <table class="DepartTab">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Project Name
                    </th>

                    <th>
                        Total Members
                    </th>

                    @*<th>
                            EmployeesOnLeave
                        </th>*@


                </tr>
                <thead>
                <tbody>
                    @{
                            foreach (var item in data)
                        {

                                        <tr>


                                            <td onclick="location.href='@Url.Action("GetAllTeamEmpsAdmin", "Admin",item)'" @*id="emp-create-btn"*@ @*class="btn-primary" type="button"*@> @item.FirstName @item.LastName</td>

                                            @*<td> @item.FirstName @item.LastName </td>*@
                                        <td onclick="location.href='@Url.Action("GetAllTeamEmpsAdmin", "Admin",item)'" @*id="emp-create-btn"*@ @*class="btn-primary" type="button"*@>  @item.ProjectName</td>

                                            @*<td> @item.ProjectName</td>*@
                                            <td> @item.TotalMembers</td>





                                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>

}
else
{
    <td> You are not Authorized </td>
}


