
@{
    ViewBag.Title = "Department";
    var data = (IEnumerable<EmployeeManagementSystemCore.ViewModels.DepartmentsViewModel>)ViewData["TeamEmps"];
    //var data1 = (IEnumerable<EmployeeManagementSystem.ViewModels.DepartmentsViewModel>)ViewData["TeamEmps1"];

}


@if (Convert.ToInt16((Session["Role"]).ToString()) == 1 && ViewBag.DepartmentMessage == null)

{


    <h2 class="DepartHeading">Teams</h2>
    <hr id="addemphr" />

    <div class="dept-btn">

        <div class="dept-btn-sec ">
            <a href="@Url.Action("AddProject" , "Admin")">
                <span class="fa fa-solid fa-file-chart-pie"></span>
                Add Project
            </a>
        </div>
        <div class="dept-btn-sec">
            <a href="@Url.Action("AddProjectMembers" , "Admin")">
                <span class="fa fa-solid fa-user-plus"></span>
                Add Project Members
            </a>
        </div>

    </div>


    <div id="DepatDiv">
        @using (Html.BeginForm())
        {
            <p class="projectsearch mx-3"> Find by Project Name: @Html.TextBox("emp") <input type="submit" value="Search" /></p>
        }

        <table class="DepartTab">

            <thead>
                <tr>
                    <th>
                        Project Name
                    </th>

                    <th>
                        Team Lead
                    </th>

                    <th>
                        Total Members
                    </th>

                    @*<th>
                            EmployeesOnLeave
                        </th>*@


                </tr>
            <thead>
            <tbody>
                @{
                    foreach (var item in data)
                    {

                        <tr>
                            <td onclick="location.href='@Url.Action("GetAllTeamEmpsAdmin", "Admin",item)'" class="Dep-team-lead-btn">  @item.ProjectName</td>



                            <td > @item.FirstName @item.LastName</td>


                            <td> @item.TotalMembers</td>


                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
    <div class="form-group col-md-6 my-2" style="margin-left:45%;">
        <div class="col-md-2 " id="Emp-form-back-list">
            @Html.ActionLink("Back", "GetAllEmployeesDetails")
        </div>
    </div>

}
else if (ViewBag.DepartmentMessage != null)
{

    <script>
                alert(@ViewBag.DepartmentMessage?@Url.Action("Login", "Admin"): null);
    </script>



}
else
{
    <td> You are not Authorized </td>
}



