
@{
    ViewBag.Title = "GetAllEmployeesDetails";

   

    var data = (IEnumerable<EmployeeManagementSystem.Models.Employee>)ViewData["allEmployees"];
}

@if (((Session["role"]).ToString()) == "Admin")
{
    

    <h2 class="addEmp">GetAllEmployees</h2>
    <hr id="addemphr" />
   
        <table id="GetAllEmpDetails">
            <thead>
                <tr>
                    <th class="col-md-3">
                        Name
                    </th>
                   

                    <th class="col-md-2">
                        Email
                    </th>

                   
                    <th class="col-md-1">
                        Role
                    </th>
                    <th class="col-md-2">
                        Designation
                    </th>

                    <th class="col-md-3">
                        Options
                    </th>

                </tr>
            </thead>
            <tbody>

                @{
                    foreach (var item in data)
                    {

                        <tr>



                            <td class="col-md-3"> @item.FirstName @item.MiddleName @item.LastName</td>
                            <td class="col-md-2"> @item.Email</td>
                            <td class="col-md-1">@item.Role</td>
                            <td class="col-md-2"> @item.Designation</td>
                            <td class="col-md-3">
                                <span>
                                    <button onclick="location.href='@Url.Action("EditEmp", "Admin",item)'" id="emp-create-btn" class="btn-primary" type="button">Edit</button>
                                    <button onclick="location.href='@Url.Action("DisableEmp", "Admin",item)'" id="emp-create-btn" class="btn-danger" type="button">Disable</button>
                                   <button onclick="location.href='@Url.Action("Report", "Admin",item)'" id="emp-create-btn" class="btn-success" type="button">Report</button>

                                </span>
                            </td>

                        </tr>

                    }
                }
            </tbody>
        </table>


   
}
else
{
    <td> You are not Authorized </td>
}


